@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1050px;
  margin: auto; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px; } }

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px; } }

@media (max-width: 350px) {
  .container {
    padding: 0; } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99; }
  .navbar__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar__contact {
    text-align: right; }
  .navbar__phone {
    display: block;
    font-size: 18px;
    color: #1c1c1c;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Proxima Nova Semibold',sans-serif; }
  .navbar__work, .navbar__email {
    display: block;
    color: #7b7b79;
    font-size: 14px;
    text-decoration: none; }
  .navbar__email {
    -webkit-text-decoration: dotted underline;
    text-decoration: dotted underline; }
  .navbar__button {
    width: 205px;
    height: 40px;
    border: 2px solid #507fe1;
    background-color: transparent;
    color: #507fe1;
    text-transform: uppercase; }
    .navbar__button:hover {
      cursor: pointer; }

.menu-button {
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-button__line {
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background-color: #5482e2; }
  .menu-button:focus {
    outline: none; }

.logo__text {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  font-family: 'Proxima Nova Semibold',sans-serif; }

.logo__description {
  display: block;
  font-size: 14px;
  color: #6b6b6b; }

@media (max-width: 991px) {
  .navbar__wrap {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .navbar__phone, .navbar__work, .navbar__email {
    display: none; }
  .navbar__button {
    width: 40%;
    margin-right: 0; } }

@media (max-width: 576px) {
  .navbar__button {
    display: none; } }

.hero {
  background: #f1f1f1 url(../img/main.png) no-repeat;
  background-size: contain;
  margin-top: 80px;
  padding-bottom: 130px; }
  .hero__text {
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding-top: 80px;
    font-size: 13px; }
  .hero__price {
    display: block;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Proxima Nova Semibold',sans-serif; }
  .hero__button {
    margin-top: 50px;
    width: 240px;
    height: 61px; }

@media (max-width: 1200px) {
  .hero {
    padding-bottom: 20px; } }

.menu {
  position: fixed;
  top: 80px;
  width: 100%;
  padding: 16px 0;
  background: #4370ce;
  display: none; }
  .menu__link {
    text-decoration: none;
    font-size: 17px;
    color: #fff; }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

@media (max-width: 991px) {
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu__link {
    padding: 10px 0; } }

.request__form {
  padding: 100px 0;
  padding-left: 8%;
  margin-top: 15%;
  background: url(../img/request-bg.png) no-repeat right; }

.request__checkboxRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 25px 0; }

.request__subtitle {
  display: block;
  font-size: 18px;
  max-width: 90%; }

.request__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.request__list {
  width: 250px;
  height: 70px; }

.request__input {
  width: 250px;
  height: 64px;
  padding-left: 20px; }

.request__wrap {
  background-color: #fff; }

.request__title {
  font-size: 22px; }

.request__label {
  font-size: 17px;
  margin-left: 20px;
  margin-right: 30px;
  font-family: 'Proxima Nova Semibold',sans-serif; }

.request__checkbox {
  width: 20px;
  height: 20px; }

.request__button {
  width: 250px;
  height: 70px;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px; }

.search {
  margin-top: -25%; }
  .search__form {
    background: url(../img/search.png) no-repeat right;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }
  .search__button {
    width: 270px;
    margin-top: 20px; }

@media (max-width: 1450px) {
  .request__form {
    margin-top: 10%; } }

@media (max-width: 1290px) {
  .request__form {
    margin-top: 7%; } }

@media (max-width: 1199px) {
  .request__form {
    margin-top: 2%;
    background-position: center right -70px; } }

@media (max-width: 1199px) {
  .request__form {
    background: none; } }

@media (max-width: 1005px) {
  .request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .request__wrap {
      margin-top: 25%; }
    .request__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; }
    .request__list {
      width: 90%; }
    .request__input {
      width: 90%;
      margin-bottom: 20px;
      padding-left: 0; }
    .request__button {
      width: 90%; } }

.advantage__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.advantage__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.advantage__block {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 100px; }
  .advantage__block img {
    margin-bottom: 10px; }

@media (max-width: 991px) {
  .advantage__block {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; } }

@media (max-width: 768px) {
  .advantage__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.catalog {
  background: #f1f1f1; }
  .catalog__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .catalog__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .catalog__block {
    -ms-flex-preferred-size: 49%;
    flex-basis: 49%;
    margin-bottom: 20px; }
    .catalog__block:hover .catalog__buttons {
      -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1); }
  .catalog__image {
    width: 100%; }
  .catalog__card {
    position: relative; }
  .catalog__tag, .catalog__fitting, .catalog__add {
    padding: 10px;
    text-transform: uppercase; }
  .catalog__tag {
    position: absolute;
    bottom: 70px;
    left: 3%;
    background-color: #92aeec;
    color: #fff;
    font-size: 12px;
    font-family: 'Proxima Nova Semibold',sans-serif; }
  .catalog__fitting {
    color: #a4c1f2;
    background-color: #fff;
    font-size: 11px;
    border: none; }
  .catalog__add {
    font-size: 11px;
    border: none;
    color: #fff;
    background-color: #92aeec; }
  .catalog__like {
    padding: 8px;
    background-color: #417cde;
    border: none; }
  .catalog__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .catalog__button {
    width: 350px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px; }
  .catalog__text {
    font-size: 16px;
    text-align: center; }

@media (max-width: 991px) {
  .catalog__tag {
    bottom: 50px; } }

@media (max-width: 768px) {
  .catalog__blocks {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .catalog__block {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .catalog__tag {
    bottom: 90px; } }

@media (max-width: 600px) {
  .catalog__tag {
    display: none; }
  .catalog__button {
    width: 80%; } }

.price__blocks a {
  text-decoration: none; }

.price__block {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  margin-top: 70px; }
  .price__block span {
    font-size: 18px;
    color: #000000;
    text-align: center;
    display: block;
    padding: 34px 0; }

.price__image {
  width: 100%; }

.price-wrap__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.price-wrap__useful {
  font-size: 22px;
  font-family: 'Proxima Nova Semibold',sans-serif; }

.price-wrap__link {
  font-size: 14px;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold',sans-serif; }

.price-wrap__info {
  margin-bottom: 100px; }

.gallery__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.gallery__block {
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%; }
  .gallery__block img {
    width: 100%; }

.gallery__button {
  font-size: 14px;
  padding: 20px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }

.gallery__block:hover .gallery__button {
  display: inline-block;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  position: relative; }

.block__text {
  display: block;
  font-size: 15px;
  padding: 23px 0;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px; }

@media (max-width: 991px) {
  .gallery__block {
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%; }
  .gallery__blocks {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .price__block {
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%; }
  .price-wrap__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

@media (max-width: 576px) {
  .price-wrap__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .price-wrap__useful {
    font-size: 18px; }
  .gallery__block {
    -ms-flex-preferred-size: 51%;
    flex-basis: 51%; } }

.work {
  background: #f6f7f9; }
  .work-step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .work-step__block {
      position: relative;
      text-align: center;
      max-width: 160px; }
      .work-step__block::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #7e7b78;
        display: block;
        position: absolute;
        top: 25%;
        left: 65%; }
      .work-step__block:last-child::before {
        display: none; }

.step__title {
  font-size: 18px;
  font-family: 'Proxima Nova Semibold',sans-serif; }

.step__text {
  font-size: 13px; }

@media (max-width: 991px) {
  .work-step__block {
    max-width: 33%;
    margin-bottom: 20px; }
    .work-step__block::before {
      display: none; } }

@media (max-width: 768px) {
  .work-step__block {
    max-width: 50%; }
  .step__text {
    width: 70%;
    margin: auto; } }

@media (max-width: 576px) {
  .work-step__block {
    max-width: 100%;
    margin: auto;
    margin-bottom: 30px; }
  .step__text {
    width: 70%; } }

.reviews {
  background-color: #f6f7f9; }
  .reviews-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .reviews-blocks__item {
      text-align: center;
      margin: 0 10px;
      margin-bottom: 50px; }
    .reviews-blocks__name {
      display: block; }
    .reviews-blocks__image {
      margin: 30px auto; }
    .reviews-blocks__text {
      position: relative;
      max-width: 370px;
      font-size: 14px;
      font-style: italic;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px; }
      .reviews-blocks__text::after {
        content: '';
        border: 10px solid transparent;
        border-top: 10px solid #fff;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

@media (max-width: 1005px) {
  .reviews-blocks__item {
    margin-bottom: 50px; }
  .reviews-blocks__text {
    margin: auto; } }

@media (max-width: 991px) {
  .reviews-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
    .reviews-blocks__item {
      margin-bottom: 20px; } }

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto; }
  .about-block__text {
    padding: 0 40px; }

@media (max-width: 991px) {
  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.contacts {
  background-color: #fafbfc; }
  .contacts-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px; }
    .contacts-row__text {
      display: block;
      font-size: 16px; }
    .contacts-row__phone, .contacts-row__location, .contacts-row__mail {
      text-decoration: none;
      color: black; }
  .contacts__question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .contacts__question h4 {
      font-size: 30px; }
    .contacts__question span {
      font-size: 24px;
      color: #6d9ae5;
      text-decoration: underline; }

@media (max-width: 576px) {
  .contacts-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts-row a {
      margin-top: 10px; } }

.footer {
  background-color: #262626; }
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0; }
  .footer-logo__title {
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-family: 'Proxima Nova Semibold',sans-serif; }
  .footer-logo__text {
    color: #fff; }
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .footer-contacts__phone {
      color: #fff;
      display: block;
      font-size: 20px;
      margin-bottom: 5px;
      font-family: 'Proxima Nova Semibold',sans-serif; }
    .footer-contacts__mail {
      color: #fff;
      display: block;
      font-size: 16px;
      margin-bottom: 5px; }
    .footer-contacts__icon img {
      padding: 0 5px; }

@media (max-width: 991px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer-contacts {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px; }
  .footer-logo {
    text-align: center;
    margin-bottom: 10px; } }

.before-slider {
  position: relative;
  width: 80%;
  margin: auto; }
  .before-slider__wrap {
    max-width: 640px;
    margin: auto; }
  .before-slider__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
    .before-slider__arrow button {
      border: none;
      background-color: transparent;
      outline: none; }
      .before-slider__arrow button:focus {
        cursor: pointer; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  list-style: none; }
  .slick-dots li {
    margin: 0px 5px; }
    .slick-dots li button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: none;
      color: transparent; }
      .slick-dots li button:focus {
        outline: none;
        background-color: #507fe1; }

.slick-active button {
  background-color: #507fe1; }

@media (max-width: 991px) {
  .before-slider__wrap {
    max-width: 550px; }
  .before-slider__arrow {
    top: 38%;
    width: 100%; } }

@media (max-width: 768px) {
  .before-slider__arrow {
    display: none; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Proxima Nova Light',sans-serif;
  max-width: 1920px;
  margin: auto; }

.button_blue {
  background-color: #507fe1;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 15px; }
  .button_blue:hover {
    cursor: pointer; }

.main__title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
  padding-bottom: 100px; }

.section {
  padding: 100px 0; }

@media (max-width: 1200px) {
  .main__title {
    padding-bottom: 0px; } }

@media (max-width: 576px) {
  .section {
    padding: 20px 0px; } }
